[color]
	ui = auto
[user]
	name = Yoshi Cheng-Hao Huang
	email = allstars.chh@gmail.com
[core]
    pager = delta
    editor = vim
[interactive]
    diffFilter = delta --color-only
[delta]
    features = side-by-side line-numbers decorations
    whitespace-error-style = 22 reverse

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
[diff]
	context = 8
	wsErrorHighlight = all
[cinnabar]
	helper = /home/allstars/src/git-cinnabar/git-cinnabar-helper
	version-check = 1602160078
[alias]
	cp = cherry-pick
	cpcnt = cherry-pick --continue
	dc = diff --cached
	ci = commit
	br = branch
	bl = blame
	co = checkout
	st = status
	cia = commit --amend
	d = diff
	au = add -u
	ap = add -p
	lg = log
	ri = rebase -i
	cb = checkout -b
	so = show
	ss = show --stat
	fo = fetch origin bookmarks/central:central
	po = pull origin bookmarks/central
	rcnt = rebase --continue
	rcen = rebase central
	rv = revise -i
[cola]
	spellcheck = false
[sequence]
	editor = interactive-rebase-tool
[color "diff"]
	whitespace = red reverse
