[color]
	ui = true
[user]
	name = Yoshi Cheng-Hao Huang
	email = allstars.chh@gmail.com
[core]
  pager = less
  editor = vim
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
  diff = diff-highlight | less
[diff]
	context = 8
[cinnabar]
	helper = /home/allstars/src/git-cinnabar/git-cinnabar-helper
